<header class="language" [ngClass]="{ 'hide-language': hideLanguage | async }">
  <img src="../../../../../assets/images/logo-green.png" alt="Logo" />

  <div class="change-language">
    <img *ngIf="language === 'en'" src="assets/images/flags/uk-flag.svg" alt="" />
    <img *ngIf="language === 'cs'" src="assets/images/flags/czech-flag.svg" alt="" />

    <div (click)="onOpenModal()">
      <div>{{ languages[language] || "" }}</div>
      <span class="material-symbols-outlined">expand_more</span>
    </div>
  </div>
</header>
