<div class="login">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="header">{{ "login.signIn" | translate }}</div>

    <div class="input-group">
      <app-input [formControl]="username" [placeholder]="'login.username' | translate" type="email"></app-input>
      <app-input type="password" [formControl]="password" [placeholder]="'login.password' | translate">
        <div *ngIf="(error | async) === 'BAD_CREDENTIALS'" class="error">
          <span>Invalid password or username</span>
          <a routerLink="/forgot-password">Forgot password?</a>
        </div>
      </app-input>
    </div>

    <app-checkbox>{{ "login.staySignedIn" | translate }}</app-checkbox>

    <app-button rounded="light" type="submit" [disabled]="form.invalid">{{
      "login.signInButton" | translate
    }}</app-button>

    <app-or></app-or>

    <div class="social-buttons">
      <app-button mode="transparent">
        <div>
          <img src="assets/images/social/apple-full-icon.svg" alt="Apple" />
          <span>{{ "login.signInApple" | translate }}</span>
        </div>
      </app-button>
      <app-button mode="transparent">
        <div>
          <img src="assets/images/social/facebook-full-icon.svg" alt="Apple" />
          <span>{{ "login.signInFacebook" | translate }}</span>
        </div>
      </app-button>
      <app-button mode="transparent">
        <div>
          <img src="assets/images/social/google-full-icon.svg" alt="Apple" />
          <span>{{ "login.signInGoogle" | translate }}</span>
        </div>
      </app-button>
    </div>

    <div class="sign-up">
      {{ "login.noAccount" | translate }}
      <a data-cy="goto-register" [routerLink]="['/register']">{{ "login.signUp" | translate }}</a>
    </div>
  </form>
</div>
