.form-group {
  margin: 15px 0;
  display: flex;
  align-items: center;

  input {
    vertical-align: top;
    z-index: 1;
    position: relative;
    height: 26px;
    width: 30px;
    min-width: 30px;
    cursor: pointer;
    flex: 1;
  }

  label {
    font-size: 14px;
    color: var(--neutral-90);
    display: inline-block;
    position: static;
    text-transform: none;
    vertical-align: middle;
    padding-left: 15px;
  }
}

//@media (min-width: 1023px) {
.form-group {
  input {
    flex: 0;
  }
}
//}
