<div class="select" (clickOutside)="onClickOutside()">
  <div class="front" (click)="onToggle()">
    <div>Test</div>
    <span class="material-symbols-outlined"> keyboard_arrow_down </span>
  </div>

  <ul *ngIf="open">
    <li>
      <a href="#">All watchlist</a>
    </li>
    <li>
      <a href="#"
        >Recently invested
        <span class="material-symbols-outlined"> check </span>
      </a>
    </li>
    <li>
      <a href="#">Food</a>
    </li>
    <li>
      <a href="#">Energy</a>
    </li>
    <li>
      <a href="#">Games</a>
    </li>
    <li>
      <a href="#">Current candidates</a>
    </li>
    <li>
      <a href="#">Etf</a>
    </li>
    <li>
      <a href="#">Index</a>
    </li>
    <li>
      <a href="#">Europe</a>
    </li>
    <li>
      <a href="#">Trading</a>
    </li>
    <li>
      <a href="#">Test</a>
    </li>

    <li class="create-wishlist" (click)="onCreateWatchlist()">
      <span class="material-symbols-outlined"> create_new_folder </span>
      <span>Create new list</span>
    </li>
  </ul>
</div>
