<div class="container">
  <div class="logout">
    <div class="left">
      <div class="title">Going somewhere?<br />Take eToro on the go!</div>

      <div class="barcode">
        <div class="code">
          <img src="assets/images/barcode.png" alt="barcode" />
        </div>

        <div class="text">
          <span>Trade, Copy and stay updated by using eToro on your mobile device.</span>
          <span>Click to download our app from the stores or scan the QR Code.</span>
        </div>
      </div>

      <div class="store">
        <a class="apple" href="#">
          <span class="image-apple"></span>
          <span class="text">Download on the App Store</span>
        </a>

        <a class="google" href="#">
          <span class="image-google"></span>
          <span class="text">GET IT ON Google play</span>
        </a>
      </div>

      <div class="login">
        <a routerLink="/login">Click here to Login</a>
      </div>
    </div>

    <span class="phone-image"></span>
  </div>
</div>
