<div class="container">
  <div class="content">
    <div class="profile card-1">
      <div>
        <img src="assets/images/profile.jpeg" alt="Profile" />

        <div class="name">
          <div>cheezyXxx</div>
          <div>cheezyXxx</div>
        </div>
      </div>

      <div>
        <span class="material-symbols-outlined"> chevron_right </span>
      </div>
    </div>

    <app-settings-card
      label="General"
      class="card-2"
      description="Set your language, currency and other general preferences"
      icon="tune"
      url="/settings/general"
    ></app-settings-card>
    <app-settings-card
      label="Account"
      class="card-3"
      description="Change your account credentials and secure it"
      icon="person"
    ></app-settings-card>
    <app-settings-card
      label="Trading"
      class="card-4"
      description="Modify your core trading experience"
      icon="sync_alt"
    ></app-settings-card>
    <app-settings-card
      label="Notifications"
      class="card-5"
      description="Opt-in or out from any communication you receive"
      icon="notifications"
    ></app-settings-card>
    <app-settings-card
      label="Privacy"
      class="card-6"
      description="Control how others see you and your activity"
      icon="lock"
    ></app-settings-card>
    <app-settings-card
      label="Recurring deposits"
      class="card-7"
      description="Set up or manage your automatic deposits"
      icon="database"
    ></app-settings-card>

    <div class="card-8">
      <span>version: </span>
      <span>466.0.1</span>
    </div>
  </div>
</div>
