<div class="register">
  <div class="column">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="create-account">
        {{ "register.createAccount1" | translate }}
      </div>

      <app-register-title></app-register-title>

      <div class="button-group">
        <app-button mode="transparent">
          <div>
            <img src="assets/images/social/google-full-icon.svg" alt="Apple" />
            <span class="long">{{ "register.signUpFacebook" | translate }}</span>
            <span class="short">{{ "register.signUpFacebookShort" | translate }}</span>
          </div>
        </app-button>
        <app-button mode="transparent">
          <div>
            <img src="assets/images/social/facebook-full-icon.svg" alt="Facebook" />
            <span class="long">{{ "register.signUpGoogle" | translate }}</span>
            <span class="short">{{ "register.signUpGoogleShort" | translate }}</span>
          </div>
        </app-button>
      </div>

      <app-or></app-or>

      <div class="input-group">
        <app-input data-cy="username" [formControl]="username" [placeholder]="'register.username' | translate">
          <div
            *ngIf="(username.dirty && username.getError('minlength')) || username.getError('maxlength')"
            class="error"
          >
            Please enter 6-16 characters in English
          </div>
        </app-input>
        <app-input data-cy="email" [formControl]="email" [placeholder]="'register.email' | translate">
          <div *ngIf="email.dirty && email.getError('invalidEmail')" class="error">
            Enter a valid email address to be used for your account
          </div>
        </app-input>
        <app-input
          data-cy="password"
          type="password"
          [formControl]="password"
          [placeholder]="'register.password' | translate"
        >
          <div *ngIf="password.dirty && password.getError('minlength')" class="error">
            Please enter at least 9 characters
          </div>
        </app-input>
      </div>

      <div class="checkbox-group">
        <app-checkbox>
          <span>{{ "register.acceptCondition1" | translate }}</span>
          <a *ngIf="'register.acceptCondition2' | translate as text" href="#">{{ text }}</a>
          <span>{{ "register.acceptCondition3" | translate }}</span>
          <a href="#">{{ "register.acceptCondition4" | translate }}</a>
        </app-checkbox>
        <app-checkbox>
          <span>{{ "register.privacyPolicy1" | translate }}</span>
          <a href="#">{{ "register.privacyPolicy2" | translate }}</a>
          <span>{{ "register.privacyPolicy3" | translate }}</span>
          <a href="#">{{ "register.privacyPolicy4" | translate }}</a>
        </app-checkbox>
      </div>

      <div class="captcha">
        <span>{{ "register.captcha1" | translate }}</span>
        <a href="#">{{ "register.captcha2" | translate }}</a>
        <span>{{ "register.captcha3" | translate }}</span>
        <a href="#">{{ "register.captcha4" | translate }}</a>
        <span>{{ "register.captcha5" | translate }}</span>
      </div>

      <app-button
        data-cy="register"
        mode="secondary"
        type="submit"
        [disabled]="form.invalid || (loading | async) || false"
        >{{ "register.createAccount2" | translate }}</app-button
      >

      <div class="information">
        <div>{{ "register.information1" | translate }}</div>
        <div>{{ "register.information2" | translate }}</div>
      </div>

      <div class="sign-in">
        <span>{{ "register.haveAccount" | translate }}</span>
        <a data-cy="goto-login" routerLink="/login">{{ "register.signIn" | translate }}</a>
      </div>
    </form>

    <div class="picture"></div>
  </div>
</div>

<div class="language">
  <img src="assets/images/flags/uk-flag.svg" alt="" />

  <div>English</div>
</div>
