:root {
  --primary-100: #3fb923;
  --primary-100-hover: #48c328;
  --primary-110: #3dae23;
  --primary-110-hover: #46ba28;
  --primary-10: #e7f9ea;
  --primary-10-hover: #f1fbf3;
  --primary-100-dm: #adf68d;
  --primary-100-dm-hover: #c1f8a9;
  --primary-var-100: #e8464a;
  --primary-var-100-hover: #f95e63;
  --primary-var-110: #d0021b;
  --primary-var-110-hover: #d7021f;
  --primary-var-10: #f8e4e6;
  --primary-var-10-hover: #fbeff1;
  --primary-var-100-dm: #ff6a6a;
  --primary-var-100-dm-hover: #ff9494;
  --secondary-100: #2999f5;
  --secondary-100-hover: #2fa8f6;
  --secondary-100-dm: #80cdff;
  --secondary-100-dm-hover: #9cd8ff;
  --neutral-100: #2c2c2c;
  --neutral-90: #777;
  --neutral-70: #bababa;
  --neutral-40: #ddd;
  --neutral-20: #f1f1f1;
  --neutral-10: #f7f7f7;
  --neutral-0: #fff;
  --neutral-100-dm: #fff;
  --neutral-90-dm: #cacbd1;
  --neutral-70-dm: #85899b;
  --neutral-40-dm: #555b70;
  --neutral-20-dm: #32374b;
  --neutral-10-dm: #272b3a;
  --neutral-0-dm: #181c27;
}

* {
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: fit-content;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}

html,
body,
div,
li,
ul,
a,
span,
input,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

//.icon-navigation-menu:before {
//  content: "\e900";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-home-border-style:before {
//  content: "\e90e";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-home-background-style:before {
//  content: "\e903";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-popular-investor:before {
//  content: "\e902";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-logout:before {
//  content: "\e90c";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-expand-collapse:before {
//  content: "\e90a";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-club:before {
//  content: "\e90b";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-invite-friends:before {
//  content: "\e909";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-withdraw:before {
//  content: "\e908";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-settings-border-style:before {
//  content: "\e907";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-settings-background-style:before {
//  content: "\e910";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-portfolio-border-style:before {
//  content: "\e90d";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-portfolio-background-style:before {
//  content: "\e904";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-watchlist-border-style:before {
//  content: "\e912";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-watchlist-background-style:before {
//  content: "\e905";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-discovery-border-style:before {
//  content: "\e90f";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-discovery-background-style:before {
//  content: "\e906";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-discovery-bottom-menu-background-style:before {
//  content: "\e93c";
//  font-family: iconGeneralFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-help:before {
//  content: "\e911";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-prochart-header:before {
//  content: "\e915";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-1:before {
//  content: "\e901";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-2:before, .icon-layout-3:before {
//  content: "\e913";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-4:before, .icon-layout-5:before {
//  content: "\e914";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-6:before, .icon-layout-7:before, .icon-layout-8:before, .icon-layout-9:before {
//  content: "\e915";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-10:before {
//  content: "\e916";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-11:before, .icon-layout-12:before {
//  content: "\e919";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-13:before, .icon-layout-14:before {
//  content: "\e917";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-layout-15:before {
//  content: "\e918";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}
//
//.icon-navigation-article:before {
//  content: "\e91C";
//  font-family: iconNavFont, sans-serif;
//  font-weight: 400;
//  font-style: normal
//}

//@font-face {
//  font-family: DINOT;
//  font-weight: 600;
//  font-style: normal;
//  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format('truetype')
//}
//
//@font-face {
//  font-family: DINOT;
//  font-weight: 400;
//  font-style: normal;
//  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Medium.otf) format('truetype')
//}
//
//@font-face {
//  font-family: DINOT;
//  font-weight: 300;
//  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf) format('truetype')
//}

@font-face {
  font-family: iconFont;
  font-weight: 400;
  font-style: normal;
  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/icomoon.ttf) format("truetype");
}

@font-face {
  font-family: iconFeedFont;
  font-weight: 400;
  font-style: normal;
  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/feed/feed.ttf) format("truetype");
}

@font-face {
  font-family: iconGeneralFont;
  font-weight: 400;
  font-style: normal;
  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/general/general.ttf) format("truetype");
}

@font-face {
  font-family: iconDiscoveryFont;
  font-weight: 400;
  font-style: normal;
  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/discover/discover.ttf) format("truetype");
}

//@font-face {
//  font-family: iconNavFont;
//  font-weight: 400;
//  font-style: normal;
//  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/layout/navigation-layout.ttf) format('truetype')
//}
//
@font-face {
  font-family: iconPaymentFont;
  font-weight: 400;
  font-style: normal;
  src: url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/general/general-v.2.2.ttf) format("truetype");
}

//.layout-wrapper {
//  list-style: none;
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//  align-items: center;
//  align-content: center;
//  height: 100%;
//  padding: 0 10px
//}
//
//.layout-wrapper .item {
//  height: 100%;
//  min-width: 41px;
//  display: flex;
//  justify-content: center;
//  align-items: center
//}
//
//.layout-wrapper .item:nth-child(2) {
//  flex-grow: 1
//}
//
//.layout-wrapper .item .menu-button {
//  padding: 0 10px
//}
//
//.layout-wrapper .item a {
//  position: relative;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 100%
//}
//
//.layout-wrapper .item a .et-icon-share, .layout-wrapper .item a .menu-icon {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  content: '';
//  width: 100%;
//  height: 100%
//}
//
//.layout-wrapper .item a .menu-icon {
//  font-size: 22px
//}
//
//.layout-wrapper .item a .et-icon-share {
//  font-size: 21px
//}
//
//.layout-wrapper .item et-header-search {
//  height: 100%
//}
//
//@media (max-width: 1023px) {
//  .layout-wrapper {
//    padding: 0 14px
//  }
//  .layout-wrapper .item et-header-search {
//    display: none
//  }
//  .layout-wrapper.mobile-sticky-search .item et-header-search {
//    display: block
//  }
//  .layout-wrapper.mobile-sticky-search .item:nth-child(2) {
//    height: 75px;
//    position: absolute;
//    left: 0;
//    width: 100%;
//    top: 100%;
//    background: #fff
//  }
//  .layout-wrapper.mobile-sticky-search et-autocomplete {
//    display: block;
//    margin: 0 auto;
//    width: 100%;
//    max-width: 480px;
//    border-radius: 6px;
//    height: 45px;
//    top: 14.5px;
//    padding: 0 18px
//  }
//}
//
//.layout-wrapper .item et-summary-bar {
//  height: 100%
//}
//
//@media (min-width: 1024px) {
//  .layout-wrapper .item .menu-button {
//    display: none;
//    padding-inline: unset
//  }
//  .layout-wrapper .item et-summary-bar {
//    display: none
//  }
//}
//
//.layout-wrapper .item et-back-button, .layout-wrapper .item et-in-app-notifications {
//  display: block;
//  height: 100%;
//  cursor: pointer
//}
//
//.layout-wrapper .item .menu-button, .layout-wrapper .item .share-button, .layout-wrapper .item et-in-app-notifications {
//  color: #54626e
//}
//
//.layout-wrapper .item .menu-button:hover, .layout-wrapper .item .share-button:hover, .layout-wrapper .item et-in-app-notifications:hover {
//  color: #1a2d3d
//}
//
//.layout-wrapper .item .share-button {
//  padding: 0 12px
//}
//
//.layout-wrapper .header-page-title-wrapper {
//  display: none
//}
//
//@media (max-width: 767px) {
//  .layout-wrapper .header-page-title-wrapper {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: center
//  }
//}
//
//.layout-wrapper .header-page-title {
//  font-family: 'Open Sans', sans-serif;
//  font-size: 22px;
//  font-weight: 300;
//  font-stretch: normal;
//  font-style: normal;
//  line-height: normal;
//  letter-spacing: -.55px
//}
//
//.layout-wrapper .header-page-title:nth-of-type(2) {
//  padding-left: 10px
//}
//
//[_nghost-wae-c3] {
//  display: block;
//  height: 100%;
//  background-color: #fff
//}
//
//@media (min-width: 768px) {
//  [_nghost-wae-c3] {
//    border-bottom: 1px solid #f1f1f1
//  }
//}

textarea {
  resize: none;
  border: none;
}
