<div class="money-card">
  <div class="top">
    <div class="title">
      <div>Welcome back!</div>
      <div>Portfolio value</div>
    </div>

    <div class="value">$87,262.48</div>

    <div class="virtual">Virtual Portfolio</div>
  </div>

  <div class="bottom">
    <div class="left">
      <span class="amount">$84,943.49</span>
      <span>Cash Available</span>
    </div>

    <div class="center">
      <span class="amount">$2,500.00</span>
      <span>Total Invested</span>
    </div>

    <div class="right">
      <span class="amount">-$184.86</span>
      <span> Profit/Loss </span>
    </div>
  </div>
</div>
